<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}How's your burger, Mr. Mentalino!{{else}}Why don't you eat up and we'll tell you{{/if}}
	</button>
</li>